* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 22px;
  color: #fff;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

a {
  color: #fff;
}