* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 22px;
  color: #fff;
  background: rgb(0,101,255);
  background: radial-gradient(circle, rgba(0,101,255,1) 0%, rgba(0,0,0,1) 100%);
}

a {
  color: #fff;
}